{% extends 'AppBundle::layout.html.twig' %}

{% macro printStatus(status) %}
    {% if status == true %}
        <span class="glyphicon glyphicon-ok gi-1x"></span>
    {% else %}
        <span class="glyphicon glyphicon-remove gi-1x"></span>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{% block content %}

  <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <p>Da bi se izdavali računi potrebno je osigurati da su unešeni sljedeći podaci: </p>
                <ul>
                    <li>
                        Podaci prodavatelja: {{ helper.printStatus(status.seller)}}
                    </li>
                    <li>
                        Podaci poslovnog prostora: {{ helper.printStatus(status.office)}}
                    </li>
                    <li>
                        Podaci naplatnog uređaja: {{ helper.printStatus(status.cashRegister)}}
                    </li>
                    <li>
                        Podaci operatera: {{ helper.printStatus(status.operator)}}
                    </li>
                </ul>
                <h4>
                    Status: 
                    {% if (status.seller and status.office and status.cashRegister and status.operator) %}
                        <span class="glyphicon glyphicon-ok gi-2x"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove gi-2x"></span>
                    {% endif %}
                </h4>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice">
                        <h4 class="text-danger">{{ flash_message }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Kupci i artikli</div>
            <div class="panel-body">
                <div class="col-md-3 col-md-offset-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Dodavanje, brisanje i ažuriranje podataka o kupcima
                            </p>
                            <h3><a href="{{path('AppBundle_Administration_buyers')}}" class="btn btn-primary btn-lg" role="button">Upravljanje kupcima</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Dodavanje, brisanje i ažuriranje podataka o artiklima
                            </p>
                            <h3><a href="{{path('AppBundle_Administration_articles')}}" class="btn btn-primary btn-lg" role="button">Upravljanje artiklima</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Podaci o tvrtci</div>
            <div class="panel-body">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Ažuriranje općih podataka tvrtke
                            </p>
                            <h3><a href="{{path('AppBundle_Administration_seller')}}" class="btn btn-primary btn-lg" role="button">Opći podaci</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Poslovni prostori
                            </p>
                            <h3><a href="{{path('AppBundle_Administration_offices')}}" class="btn btn-primary btn-lg" role="button">Poslovni prostori</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Naplatni uređaji
                            </p>
                <h3><a href="{{path('AppBundle_Administration_cashRegisters')}}" class="btn btn-primary btn-lg" role="button">Naplatni uređaji</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Operateri (blagajnici)
                            </p>
                            <h3><a href="{{path('AppBundle_Administration_operators')}}" class="btn btn-primary btn-lg" role="button">Operateri</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}