{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i><a href="{{path('AppBundle_Administration_home')}}">Administracija</a>
        </li>
        <li class="active">
            <i class="fa fa-file"></i><a href="{{path('AppBundle_Administration_operators')}}">Operateri</a>
        </li>
    </ol>
    <div class="row administration-title">
        <div class="form-group col-md-4">
            <input type="text" placeholder="Pretraživanje po nazivu" class="form-control" id="usr">
        </div>
        <a href="{{path('AppBundle_Administration_addOperator')}}"><button type="button" id="addOneItem" class="btn btn-lg btn-info col-md-2 col-md-offset-5">
            Unesi novog
        </button></a>
    </div>

    <div class="row">
        <ul class="list-group col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Redni broj</th>
                        <th>Ime i prezime</th>
                        <th>Oib</th>
                        <th>Oznaka</th>
                        <th>Opcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for operator in operators %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{operator.name}}</td>
                            <td>{{operator.oib}}</td>
                            <td>{{operator.label}}</td>
                            <td>
                                <a href="{{ path('AppBundle_Administration_editOperator', {'operatorId': operator.id})}}"> <button type="button" class="btn btn-xs btn-primary">Uredi</button></a>
                                <a href="{{ path('AppBundle_Administration_deleteOperator', {'operatorId': operator.id})}}"> <button type="button" class="btn btn-xs btn-danger">Izbriši</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent() }}

{% endblock %}