{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i><a href="{{path('AppBundle_Administration_home')}}">Administracija</a>
        </li>
        <li class="active">
            <i class="fa fa-file"></i>Izdani računi
        </li>
    </ol>
    <div class="row administration-title">
        <a href="{{path('AppBundle_Invoices_issueInvoice')}}"><button type="button" id="addOneItem" class="btn btn-lg btn-info col-md-2">
            Unesi novog
        </button></a>
    </div>

    <div class="row">
        <ul class="list-group col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Redni broj</th>
                        <th>Broj računa</th>
                        <th>Datum izdavanja</th>
                        <th>Ukupni iznos</th>
                        <th>Operater</th>
                        <th>Način plaćanja</th>
                        <th>Status</th>
                        <th>Opcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{invoice.number.ordinal}}-{{invoice.number.office}}-{{invoice.number.cashRegister}}</td>
                            <td>{{invoice.issueDate | date("m/d/Y")}}</td>
                            <td>{{invoice.totalAmount | number_format(2, '.', ',')}} HRK
                            </td>
                            <td>{{ invoice.operatorName }}</td>
                            <td>{{ invoice.paymentType.titleName }}</td>
                            <td>{{ invoiceStatus(invoice) }}</td>
                            <td>
                                <a href="{{ path('AppBundle_Invoices_cancelInvoice', {'invoiceId': invoice.id})}}"> <button type="button" class="btn btn-xs btn-primary" {{isDisabled(invoice)}}>Storniraj</button></a>
                                <a href="{{ path('AppBundle_Invoice_viewInvoice', {'invoiceId': invoice.id})}}"> <button type="button" class="btn btn-xs btn-info">Pogledaj</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent() }}

{% endblock %}