{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i><a href="{{path('AppBundle_Administration_home')}}">Administracija</a>
        </li>
        <li>
            <i class="fa fa-file"></i><a href="{{path('AppBundle_Invoices_issuedInvoices')}}">Izdani računi</a>
        </li>

        <li class="active">
            <i class="fa fa-file"></i>Novi
        </li>
    </ol>
    <div class="row">
            {{ form_start(form) }}
        <div class="col-md-2">
            {{ form_row(form.buyer) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.operator) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.office) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.cashRegister) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.paymentType) }}
        </div>
    </div>
                
    <h3>Artikli: </h3>
    <ul class="articles row" data-prototype="{{ form_widget(form.articles.vars.prototype)|e('html_attr') }}">
    </ul>  
    <br>
    {{ form_row(form._token) }}
    <button type="submit" class="btn btn-primary">Izdaj račun</button>
{% endblock %}

{% block javascripts %}
    {{parent() }}
    <script type="text/javascript">
        var $collectionHolder;
        // setup an "add a tag" link
        var $addArticleLink = $('<button class="btn btn-sm btn-warning"><a href="#" class="add_article_link">Dodaj artikl</a></button>');
        var $newLinkLi = $('<div></div>').append($addArticleLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.articles');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

             // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addArticleFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addArticleLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addArticleForm($collectionHolder, $newLinkLi);
            });
        });

        function addArticleForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="col-md-3"></li>').append(newForm);
            $newLinkLi.before($newFormLi);

             // add a delete link to the new form
            addArticleFormDeleteLink($newFormLi);
        }

        function addArticleFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<button class="btn-sm btn-danger remove"><a href="#">Izbriši</a></button>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>
{% endblock %}